# Instructions

In this assignment, you will be required to explore, segment, and cluster the neighborhoods in the city of Toronto. However, unlike New York, the neighborhood data is not readily available on the internet. What is interesting about the field of data science is that each project can be challenging in its unique way, so you need to learn to be agile and refine the skill to learn new libraries and tools quickly depending on the project.
For the Toronto neighborhood data, a Wikipedia page exists that has all the information we need to explore and cluster the neighborhoods in Toronto. You will be required to scrape the Wikipedia page and wrangle the data, clean it, and then read it into a pandas dataframe so that it is in a structured format like the New York dataset.
Once the data is in a structured format, you can replicate the analysis that we did to the New York City dataset to explore and cluster the neighborhoods in the city of Toronto.
Your submission will be a link to your Jupyter Notebook on your Github repository.

# 1. Obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### scrape https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
soup = BeautifulSoup(source, 'xml')
tb=soup.find('table')

#### The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [3]:
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [4]:
for tr_cell in tb.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [5]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [6]:
df=df[df['Borough']!='Not assigned']

### combined into one row with the neighborhoods separated with a comma

In [7]:
#group by postalcode
df_group=df.groupby('Postalcode')['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
df_group=df_group.reset_index(drop=False)
df_group.rename(columns={'Neighborhood':'Neighborhood_joined'},inplace=True)
#merge by postalcode
df_merge = pd.merge(df, df_group, on='Postalcode')
#drop old column 'Neighborhood' and duplicates
df_merge.drop(['Neighborhood'],axis=1,inplace=True)
df_merge.drop_duplicates(inplace=True)
#rename column 'Neighborhood_joinded' like original name
df_merge.rename(columns={'Neighborhood_joined':'Neighborhood'},inplace=True)
df_merge.head()

  Postalcode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

# 2. Built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name

In [8]:
!pip install geocoder

Requirement already satisfied: geocoder in /Users/fabiancamargo/opt/anaconda3/lib/python3.8/site-packages (1.38.1)
Requirement already satisfied: ratelim in /Users/fabiancamargo/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in /Users/fabiancamargo/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: future in /Users/fabiancamargo/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: requests in /Users/fabiancamargo/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: six in /Users/fabiancamargo/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: decorator in /Users/fabiancamargo/opt/anaconda3/lib/python3.8/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/fabiancamargo/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/fabiancamargo/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /Users/fabiancamargo/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/fabiancamargo/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2020.6.20)

In [23]:
import geocoder

In [24]:
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

In [41]:
df_geo=pd.read_csv('http://cocl.us/Geospatial_data')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [42]:
df_geo.rename(columns={'Postal Code':'Postalcode'},inplace=True)
print(df_geo.columns)

Index(['Postalcode', 'Latitude', 'Longitude'], dtype='object')

In [43]:
df_merged = pd.merge(df_geo,df_merge,on='Postalcode')
df_merged.head()

,Postalcode,Latitude,Longitude,Borough,Neighborhood
0,M1B,43.806686,-79.194353,Scarborough,"Malvern, Rouge"
1,M1C,43.784535,-79.160497,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae